[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk.git
[submodule "extern/tinyobjloader-c"]
	path = extern/tinyobjloader-c
	url = https://github.com/syoyo/tinyobjloader-c.git
